/* Cards component styles */
  /* Add your custom styles here */
.status {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 500;
}

.status.success {
  color: #2e7d32; /* green */
}

.status .icon {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}